:root {
  --color-dark: #1e1e1e;
  --color--white: #f5f5f5;
  --color-primary: #706fd3;
  --color-accent: #ffda79;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 1rem;
  background-color: var(--color-dark);
  color: var(--color-primary);
}
.header__brand {
  font-size: 3rem;
}

#app {
  padding: 1rem;
}

/* Pokemon List */
.pokemon-list {
  list-style: none;
  width: 50%;
  margin: auto;
}

.pokemon-list__item {
  padding: 0.5rem;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0.5rem 0;
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.pokemon-list__item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Pokemon Card */

.pokemon-card {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 8px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.pokemon-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pokemon-card__img {
  width: 200px;
}

.pokemon-card__title {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--color-dark);
  text-shadow: 0 0 2px var(--color-primary);
}
