<!DOCTYPE html>
<html>
  <head>
    <title>My cool page</title>
  </head>
  <body>
    <div id="main" class="myDiv">
      <h1 id="myTitle">Yea! Cool     page</h1>
      <p title="Short explanation" align="center" >
        HELLO FROM THE previous SIBLING
      </p>
      <p title="Short explanation" align="center" class="myParagraph">
        This page is really cool. Please don't change anything!
      </p>
      <p title="Short explanation" align="center" >
        HELLO FROM THE next SIBLING
      </p>
    </div>
    <div class="myDiv">
      <p align="center" class="myParagraph second">No really, trust me dude!</p>
      <text align="center"> See? It has random text! </text>
    </div>
    <div id="newDiv">
      <h1 id="title">Hello SEDC</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta explicabo perferendis harum! Maxime aliquid obcaecati consequatur? Adipisci tempora autem sequi?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta explicabo perferendis harum! Maxime aliquid obcaecati consequatur? Adipisci tempora autem sequi?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta explicabo perferendis harum! Maxime aliquid obcaecati consequatur? Adipisci tempora autem sequi?</p>
      <ol id="myList">

      </ol>
    </div>
    <script src="../scripts/script.js"></script>
  </body>
</html>
