<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <div class="wrapper">
        <h1 id="mainTitle">Hey this is my page</h1>
        <div class="innerWrapper">
          <h3 id="firstTitle">This is some subheader</h3>
          <p>Hello!</p>
          <p>Yes it is a sub header!</p>
        </div>
        <div class="innerWrapper">
          <h3 id="SecondTitle">This is some other subheader</h3>
          <p>Hello again!</p>
          <p>Yes it is another sub header!</p>
        </div>
        <button>It does nothing :(</button>
        <input type="text" value="Cool">
      </div>
<script src="../lib/jquery-3.6.0.js"></script>
<script src="../src/events.js"></script>
</body>
</html>