<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    
    <h1>Events</h1>
    
    <!-- HTML Event Handler Example -->
    <button id="countToFiveBtn" onclick="countToFive()">Click to count to five</button>
    <br>
    <br>
    <br>

    <button id="btn">DOM Event Handler Example Button</button>
    <br>
    <br>
    <br>

    <div id="pinkDiv" style="background-color: pink; height: 200px; width: 200px;">EVENT LISTENER EXAMPLE DIV</div>
    <br>
    <br>
    <br>

    <label for="input">Enter your name</label>
    <input type="text" id="input">
    <br>
    <br>
    <br>

    <button id="btn1">Event Listener Example Button</button>
    <br>

    <div id="registerDiv">Register by entering your name in the input field</div>


    <script src="./events.js"></script>
</body>
</html>