<html>
  <head>
    <title>My cool page</title>
  </head>
  <body>
    <div id="main" class="myDiv">
      <h1 id="myTitle">Yea! Cool page</h1>
      <p title="Short explanation" class="myParagraph">
        This page is really cool. Please don't change anything!
      </p>
    </div>
    <div class="myDiv">
      <p  class="myParagraph second">
        No really, trust me dude!
      </p>
      <p>
        This is the third paragraph!
      </p>
      <text> 
        See? It has random text!
      </text>
    </div>
    <script src="../src/ourScript.js"></script>
  </body>
</html>