<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="wrapper">
        <h1 id="mainTitle">Hey this is my page</h1>
        <div class="innerWrapper">
          <h3 id="firstTitle">This is some subheader</h3>
          <p>Hello!</p>
          <h3 id="thirdTitle">This is the third title</h3>
          <p>Yes it is a sub header!</p>
        </div>
        <div class="innerWrapper">
          <h3 id="SecondTitle">This is some other subheader</h3>
          <p>Hello again!</p>
          <p>Yes it is another sub header!</p>
        </div>
        <button>It does nothing :(</button>
        <input type="text" value="Cool">
      </div>
      <!-- include  libraries before your scripts, because your scripts use functionalities (functions, objects, variables)
         from the libraries-->
      
      <script src="../lib/jquery-3.6.2.js"></script>
      <!-- <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4="
crossorigin="anonymous"></script> -->
      <script src="../src/ourScript.js"></script>
</body>
</html>